
<table border="1">
    <tr id="R1">
      <td>{{ime1}}</td>
      <td>72</td>
      <td>9</td>
     <td> <select>
      <option><button>{{ime4}}</button></option>
      <option><button>{{ime5}}</button></option>
      <option><button>{{ime6}}</button></option>
    </select></td>
</tr>
    <tr id="R2">
      <td>{{ime2}}</td>
      <td>52</td>
      <td>28</td>
      <td> <select>
      <option><button>{{ime4}}</button></option>
      <option><button>{{ime5}}</button></option>
      <option><button>{{ime6}}</button></option>
    </select></td>
</tr>
    <tr>
      <td>{{ime3}}</td>
      <td>25</td>
      <td>25</td>
      <td> <select>
      <option><button>{{ime4}}</button></option>
      <option><button>{{ime5}}</button></option>
      <option><button>{{ime6}}</button></option>
    </select></td>
  
</tr>
  
  </table>

