.spacer {
    flex: 1 1 auto;
  }
button{

color: aliceblue;

}
.header-menu{
  color: aliceblue;
  background-color: rgba(4, 1, 97, 0.733);
  background-origin: padding-box;
  border-radius: 3%;
}