/* Add application styles & imports to this file! */
table {
  
  margin: 10px;
  width: 200px;
  height: 100px;
}
button {
  border-color: black;
  margin: 10px;
  width: 175px;
}
select {
  margin-left: 90px;
}
