/* Add application styles & imports to this file! */
table {
align-content: center;
  margin: 10px;
  width: 250px;
  height: 100px;
}
button {
  border-color: black;
  margin: 10px;
  width: 50px;
}
select {
  margin: relative;
}
div{
  position: relative;
  margin-bottom:10px;
  margin-left:10px;
}
td{
  margin: 10px;
}
th{
  margin: 10px;
}